.customOverlay {
    background: rgba(12, 12, 12, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #746e6e4d;
  }

.customModal {
    background: rgba(116, 110, 110, 0.2);
    max-width: 500px;
    border-radius: 7px;
    /* width: 100%; */
  }

@media screen and (min-width: 500px) {
    .customModal {
      width: 100%;
    }
  
}